<%- include('partials/header') %>

    <body class="noselect">
        <section class="project-template">
            <div class="container-fluid">
                <h2 class="big-heading"> <%= project.name %></h2>
                <div class="row">
                    <div class="col-lg-7 col-md-7">
                        <!-- Main img -->
                        <img src="<%= project.imgSrc %>" width="90%">
                        
                        <div class="category">
                            <span class="badge <%= project.category.class %>"><%= project.category.name %></span>

                            <% for(let i = 0; i < project.technologies.length; i++) {%>
                                <span class="badge <%= project.technologies[i].class %>"><%= project.technologies[i].name %></span>
                            <% }%>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <p> <%- project.shortDescription %></p>
                        <div>
                            <a class="btn btn-white" href="<%= project.githubUrl %>" target="_blank" role="button">
                                See code <i class="fa-brands fa-github-alt"></i>
                            </a>
                            <a class="btn btn-lilac" href="<%= project.demoUrl %>" target="_blank" role="button">
                                        Visit site <i class="fa-solid fa-rocket"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/footer') %>